:root {
	--clr-primary: #e1f708;
	--clr-secondary: #a2a6a7;
	--clr-neutral-100: #e5dbdb;
	--clr-neutral-900: #312d2f;

	--clr-shadow: rgb(0 0 0 / 30%);
}

body {
	color: var(--clr-neutral-100);
	background-color: var(--clr-neutral-900);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}

.layout {
	max-block-size: 100vh;
}

.layout {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 2fr 2fr;
	grid-template-areas:
		"sidebar topbar  topbar"
		"sidebar content sidepanel"
		"sidebar content sidepanel"
	;
}

.topbar {
	grid-area: topbar;
	padding-inline: 48px;
}

.sidebar {
	grid-area: sidebar;
	box-shadow: 0 8px 20px var(--clr-shadow);
}

.sidepanel {
	grid-area: sidepanel;
}

.content {
	grid-area: content;
}

.sidebar__brand {
	display: flex;
	gap: 20px;
	margin-inline-start: 20px;
	margin-block: 20px;
	align-items: center;
}

.sidebar__logo {
	height: 48px;
}

.sidebar__title {
	color: var(--clr-primary);
	font-size: 1.25rem;
}

.sidebar__nav {
	display: grid;
	gap: 48px;
}

.sidebar__nav-group {
	display: grid;
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar__link {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 20px;
	text-decoration: none;
	color: var(--clr-secondary);
	font-weight: 500;
}

.sidebar__link:hover {
	background-color: var(--clr-primary);
	color: var(--clr-neutral-900);
}

.topbar {
	font-size: 1.25rem;
	color: var(--clr-secondary);
}

.topbar__top {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.topbar__search {
	display: flex;
	gap: 16px;
	align-items: center;
}

.topbar__search input {
	background-color: var(--clr-neutral-100);
	border-style: none;
	border-radius: 30px;
	padding: 4px 16px;
	width: 600px;
}

.topbar__notifications {
	margin-left: auto;
}

.topbar__profile {
	display: flex;
	align-items: center;
	gap: 24px;
	padding-block: 12px;
	margin-inline-start: 12px;
	font-weight: 700;
}

.topbar__profile-image {
	height: 48px;
	object-fit: cover;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
}

.topbar__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--clr-neutral-100);
}

.topbar__header {
	display: flex;
	gap: 24px;
	align-items: center;
}

.topbar__header-image {
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	aspect-ratio: 1 / 1;
}

.topbar__actions {
	display: grid;
 	grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2rem;
}

.topbar__actions button {
	flex: 1;
	padding: 12px 24px;
	border: none;
	border-radius: 30px;
	background-color: var(--clr-primary);
	color: var(--clr-neutral-900);
	font-size: 1rem;
	font-weight: 700;
}

.topbar__actions button:hover {
	background-color: var(--clr-secondary);
}
