:root {
	--clr-primary: #e1f708;
	--clr-secondary: #a2a6a7;
	--clr-neutral-100: #e5dbdb;
	--clr-neutral-900: #312d2f;
}

.layout {
	block-size: 100vh;
}

.layout {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 2fr 2fr;
	grid-template-areas:
		"sidebar topbar  topbar"
		"sidebar content sidepanel"
		"sidebar content sidepanel"
	;
}

.topbar {
	grid-area: topbar;
	background-color: var(--clr-neutral-100);
	box-shadow: 0px 4px 8px 0px #828282;
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--clr-neutral-900);
	box-shadow: 2px 0px 4px 0px #828282;
}

.sidepanel {
	grid-area: sidepanel;
}

.content {
	grid-area: content;
}
